.card-about {
  width: 800px;
  color: rgb(148, 164, 173);
  background: #282e38;
  border: 1px solid rgb(2, 2, 2);
  border-radius: 10px;
}

img {
  border-radius: 10px;
}

.card-titulo {
  color: black;
  background: rgb(213, 199, 160);
  background: radial-gradient(
    circle,
    rgba(213, 199, 160, 1) 0%,
    rgba(222, 182, 80, 1) 29%,
    rgba(213, 164, 43, 1) 51%,
    rgba(228, 184, 79, 1) 69%,
    rgba(179, 140, 36, 1) 100%
  );
  border: 1px solid rgb(255, 187, 0);
  border-radius: 10px;
}
.contenedor {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.icono-social {
  transition: all 0.1s ease-in-out;
}

.icono-social:hover {
  transform: scale(1.4);
  transition: all 0.1s ease-in-out;
}
