.sidebar {
  width: 15rem;
  height: 100%;
  padding: 10px;
  position: fixed;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: left;
  background: #1f242c;
  border-right: 4px inset rgb(51, 51, 51);
}

.sidebar h5 {
  color: rgb(255, 255, 255);
  text-align: center;
}
