.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background: rgb(121, 196, 57);
  background: radial-gradient(
    circle,
    rgba(121, 196, 57, 1) 0%,
    rgba(0, 99, 19, 1) 100%
  );
}

.content-wrap {
  flex: 1;
}

/* NavBar */
.main-navbar {
  background: rgb(83, 182, 0);
  background: linear-gradient(
    0deg,
    rgba(83, 182, 0, 1) 0%,
    rgba(21, 107, 0, 1) 100%,
    rgba(33, 99, 18, 1) 100%
  );
}
/* Footer */
.main-footer {
  text-align: center;
  color: white;
  background: rgb(29, 108, 0);
  background: linear-gradient(
    0deg,
    rgba(29, 108, 0, 1) 0%,
    rgba(17, 65, 0, 1) 100%
  );
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}
